<!DOCType HTML>
<html>
<head>
    <title>New publication</title>
    <script src="newPublicationPage.js"></script>
</head>

<body>
    <h2>Title</h2>
    <input type="text" name="publicationTitle" id="publicationTitle" size="80" placeholder="Write something..."/>

    <h2>Publication content</h2>
    <textarea id="publicationContent" name="publicationContent" rows="25" cols="80" placeholder="Write something..." style="resize:none"></textarea>
    <p></p>

    <input type="button" value="Publish" onclick="createNewPublication()">
</body>
</html>