<!DOCTYPE html>
<html>
<head>
    <title>Публикация</title>
    <script src="/js/publication/publicationPage.js"></script>
</head>

<body onload="getPublication()">
    <h2>Title</h2>
    <h3 id="publicationTitle" name="publicationTitle"></h3>

    <h5>Author</h5>
    <h5 id="publicationAuthor" name="publicationAuthor"></h5>

    <h2>Publication content</h2>
    <textarea id="publicationContent" name="publicationContent" rows="25" cols="80" style="resize:none" readonly></textarea>
    <p></p>

    <input id="editButton" name="editButton" type="button" value="Edit" onclick="enableEditMode()" hidden="hidden">
    <input id="saveButton" name="saveButton" type="button" value="Save changes" onclick="updatePublication()" hidden="hidden">
    <p></p>
    <input id="deleteButton" name="deleteButton" type="button" value="Delete" onclick="deletePublication()" hidden="hidden">

    <h2>Write a comment</h2>
    <div id="divUserId" style="display: none;" th:text="${#authentication.getPrincipal().getUserId()}"></div>
    <textarea id="newCommentText" name="newCommentText" rows="15" cols="50" style="resize:none" placeholder="Write your opinion about this..."></textarea>
    <input type="button" value="Publish" onclick="createPublicationComment()"> <p></p>

    <h2>Comments</h2>
    <div id="commentsDiv"></div>
</body>
</html> 