<!DOCType HTML>
<html>
<head>
    <title>Publication</title>
    <script src="/js/Publication/publicationPage.js"></script>
</head>

<body onload="getPublication()">
    <h2>Title</h2>
    <h3 id="publicationTitle" name="publicationTitle"></h3>

    <h5>Author ID (change to username)</h5>
    <h5 id="publicationAuthor" name="publicationAuthor"></h5>

    <h2>Publication content</h2>
    <textarea id="publicationContent" name="publicationContent" rows="25" cols="80" style="resize:none" readonly></textarea>
    <p></p>

    <!--Show these buttons only for publication author
        1) Create hidden element with current userId through Thymeleaf and then delete this element after page loading-->
    <input id="editButton" name="editButton" type="button" value="Edit" onclick="enableEditMode()">
    <input id="saveButton" name="saveButton" type="button" value="Save changes" onclick="updatePublication()" hidden="hidden">
    <p></p>
    <input id="deleteButton" name="deleteButton" type="button" value="Delete" onclick="deletePublication()">
</body>
</html>