<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Roles</th>
        </thead>
            <tr th:each="user: ${allUsers}">
                <td th:text="${user.id}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.password}"/>
                <!-- <td>
                    <c:forEach items="${user.roles}" var="role">${role.name}; </c:forEach>
                </td> -->
                <td>
                    <form action="${pageContext.request.contextPath}/admin" method="post">
                        <input type="hidden" name="userId" value="${user.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>

            </tr>
    </table>
    <a href="/">Главная</a>
</div>
</body>
</html>