<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание аккаунта</title>
    <link rel="stylesheet" type="text/css" href="css/user/registrationPage.css">
</head>

<body>
<h2>Создайте аккаунт</h2>

<div class="registration">
    <form method="POST" th:object="${userForm}" th:action="@{/registration}">
    
        <p>Имя пользователя</p>
        <input type="text" th:field="*{username}" placeholder="Username" autofocus="true" id="usernameInput">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    
        <p>Пароль</p>
        <input type="password" th:field="*{password}" placeholder="Password" id="passwordInput">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    
        <p>Повторите пароль</p>
        <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm your password" id="passwordConfirmInput">
        <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
        <br><br> <br><br>
    
        <button type="submit" id="submitButton">Создать</button>
    </form>
</div>

</body>
</html>