<!DOCTYPE html>
<html>
<head>
    <title>All tasks</title>
    <link type="text/css" rel="stylesheet" href="/css/task/allTasksPage.css">
    <script src="/js/task/allTasksPage.js"></script>
</head>

<body onload="getAllTasksList(document.getElementById('tasksList'))">
    <a href="http://localhost:8080/createTask">Create new task</a>
    <br>
    <br>
    <br>

    <input type="text" id="searchInput" >
    <input type="button" onclick="searchByInput()" value="Найти">
    <input type="button" onclick="clearSearchResult()" value="Очистить поиск">

    <ol id="searchResult"></ol>

    <ul id="tasksList"></ul>
</body>
</html> 