<!DOCTYPE html>
<html>
<head>
    <title>Задача</title>
    <script src="/js/task/taskPage.js"></script>
</head>

<body onload="getTask()">
    <a href="http://localhost:8080/tasks">All tasks</a>

    <h2>Title</h2>
    <h3 id="taskTitle" name="taskTitle"></h3>

    <h5>Owner</h5>
    <h5 id="taskOwner" name="taskOwner"></h5>

    <h5>Task cost</h5>
    <h5 id="taskCost" name="taskCost"></h5>

    <h5>Task was created:</h5>
    <h5 id="creationTaskTime" name="creationTaskTime"></h5>

    <h5>Deadline:</h5>
    <h5 id="deadline" name="deadline"></h5>

    <h5>Task status</h5>
    <h5 id="taskStatus" name="taskStatus"></h5>

    <h2>Task description</h2>
    <textarea id="taskDescription" name="taskDescription" rows="25" cols="80" style="resize:none" readonly></textarea>
    <p></p>

    <h2>Write a comment</h2>
    <div id="divUserId" style="display: none;" th:text="${#authentication.getPrincipal().getUserId()}"></div>
    <textarea id="newCommentText" name="newCommentText" rows="15" cols="50" style="resize:none" placeholder="Write your opinion about this..."></textarea>
    <input type="button" value="Publish" onclick="createTaskComment()"> <p></p>

    <h2>Comments</h2>
    <div id="commentsDiv"></div>
</body>
</html>