<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All chats</title>
    <script src="/js/chat/allChatsPage.js"></script>
</head>

<body onload="getAllChatsList(document.getElementById('chatsList'))">

    <ol id="chatsList"></ol>

    <input type="text" id="newChatName" >
    <input type="button" onclick="createNewChat(document.getElementById('newChatName').value)" value="Создать чат">

    <div id="divUserId" style="display: none;" th:text="${#authentication.getPrincipal().getUserId()}" ></div>
</body>
</html> 