<!DOCTYPE html>
<html>
<head>
    <title>Chat page</title>
    <link type="text/css" rel="stylesheet" href="/css/chat/chatPage.css"/>
    <script src="/js/chat/chatPage.js"></script>
</head>

<body onload="getAllChatMessages()">
    <h1>Simple Chat</h1>

    <ul id="messages"></ul>

    <input type="text" name="sendMessageContent" id="sendMessageContent"/>
    <input type="button" onclick="sendMessage()" value="Отправить">
    <p>Back to the <a href="http://localhost:8080/chats">all chats</a>.</p>
    <p></p>
    <p></p>
    <p></p>
    <input type="button" onclick="leaveChat()" value="Выйти из чата">

    <div id="divUserId" style="display: none;" th:text="${#authentication.getPrincipal().getUserId()}" ></div>
</body>
</html>  