<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter chat</title>
    <script src="/js/chat/enterChatPage.js"></script>
</head>

<body onload="loadChatName(document.getElementById('chatName'))">

    <h1>Do you want enter the chat: </h1>
    <h2 id="chatName"></h2>
    <input type="button" onclick="enterChat()" value="Yes">
    <p>Back to the <a href="http://localhost:8080/chats">all chats</a>.</p>

    <div id="divUserId" style="display: none;" th:text="${#authentication.getPrincipal().getUserId()}" ></div>
</body>
</html> 